#template{
    padding: 80px 0;
}
.tem_top ul li{
    display: inline-block;
}

.tem_top ul li a{
    padding: 0 15px;
    color: gray;
    font-weight: 600;
}

.tem_top ul li a:hover{
    color: royalblue ;
}

.tem_item h2{
    font-weight: 600;
    padding: 10px 0;
}

.tem_item p{
    color: gray;
}

.tem_item h6{
    font-weight: 600;
}

.tem_item{
    padding: 20px 0;
}