#team{
    padding: 80px 0;
    background-color: #F4F6FC;
}

.team_head h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #282938;
}

.team_item{
    background-color: #fff;
    position: relative;
    padding: 30px 20px;
    margin-top: 40px;
}
.about_overlay{
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}

.team_item:hover .about_overlay{
    opacity: 1;
}

.about_icon{
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}

.team_item:hover .about_icon{
    opacity: 1;
}
.about_text h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #282938;
    padding-top: 20px;
}

.about_text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #282938;
    opacity: 0.7;
}


@media(max-width:575px){

    #team {
        padding: 40px 0;
    }

 }

 @media(min-width:320px) and (max-width:480px){
    .contact_form{
        text-align: center;
    }
    .input1 {
        width: 225px !important;
        height: 40px !important;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    .input2 {
        width: 225px !important;
        height: 40px !important;
        margin-bottom: 10px;
    }
    .input3 {
        width: 225px !important;
        height: 40px !important;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    .input4 {
        width: 225px !important;
        height: 40px !important;
        margin-bottom: 10px;
    }
    .input5 {
        width: 225px !important;
        height: 90px !important;
    }
    .contact_form a {
        padding: 8px 20px !important;
    }
 }
 
 @media(min-width:576px) and (max-width:767px){

    #team {
        padding: 40px 0;
    }

 }
 
 @media(min-width:768px) and (max-width:991px){

    #team {
        padding: 40px 0;
    }
    
 }